<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>管理员搜索</title>
    <link rel="stylesheet" href="../../static/css/index.css" th:href="@{/css/index.css}">
</head>
<body>
<a href="#" th:href="@{/logout}" class="logout-btn">
    <span class="logout-icon"></span>注销
</a>
<a href="#" th:href="@{/admin}" class="logout-btn">
    <span class="logout-icon"></span>返回
</a>
<a href="#" th:href="@{/admin/email}" class="logout-btn">
    <span class="logout-icon">发送邮件</span>
</a>
<br>
<div class="container">
    <span class="span" th:text="${message}" th:if="${message!=null}">诶嘿</span><br>
    <a href="#" class="button" th:href="@{/admin/add}">添加设备</a>
    <form th:action="@{/admin/search}" th:object="${device}" method="get" class="searchForm">
        <input type="text" name="name" placeholder="搜索..." class="searchInput" th:value="${name}">
        <button type="submit" class="searchButton">搜索</button>
    </form>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
        <th>类型</th>
        <th>价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="device : ${deviceList}">
        <td th:text="${device.id}"></td>
        <td th:text="${device.name}"></td>
        <td th:text="${device.label}"></td>
        <td th:text="${device.price}"></td>
        <td>
            <a href="#" class="button" th:href="@{/admin/update/{id}(id=${device.id})}">修改</a>
            <a href="#" class="button" th:href="@{/admin/delete/{id}(id=${device.id})}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>