* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}
.button{
    background-color: #8bc34a;
    border-radius: 20px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.container {
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 400px; /* 设置表单宽度为400像素 */
    height: 300px; /* 设置表单高度为300像素 */
    border: 1px solid #ccc; /* 设置表单边框为1像素实线灰色 */
}

.col-25 {
    float: left;
    width: 100%;
}

/* 清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* 响应式布局 layout - 在屏幕宽度小于 600px 时， 设置为上下堆叠元素 */
@media screen and (max-width: 600px) {
    .col-25, input[type=submit] {
        width: 50%;
        margin-top: 0;
    }
}